# .dockerignore
.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.gitignore
README.md
Dockerfile
.dockerignore
.venv
venv
env
.ENV
.env
.azdo
.github
.vscode
.azure
.azure-pipelines
.azuredevops
.gitlab
.gitlab-ci.yml
.travis.yml
.circleci
.appveyor.yml
.codecov.yml
.coveralls.yml
.hound.yml
.styleci.yml
.editorconfig
.eslintignore
.eslintrc
.jscs.json
.jshintignore
.jshintrc
.stylelintignore
.stylelintrc
.yarn-integrity
.yarnrc
.yo-rc.json
.nyc_output
.nyc_output/
coverage
coverage/
node_modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
logs
*.log
.DS_Store
Thumbs.db
test_*.py
*_test.py
